
[Unit]
Description=sendIoTHub
After=dhcpcd.service smbd.service

[Service]
Type=forking
user=root
# WorkingDirectory=/usr/local/bin/sendIoTHub
PIDFile=/var/run/sendIoTHub.pid
Restart=on-success
ExecStart=/usr/local/bin/sendIoTHub
ExecStop=/bin/kill -SIGTERM $PIDFile

[Install]
WantedBy=multi-user.target
