
[Unit]
Description=sendIoTHub

[Service]
Type=forking
user=root
WorkingDirectory=/home/tri/source/sendIoTHubSenser/cmake
PIDFile=/var/run/sendIoTHub.pid
Restart=on-success
ExecStart=/home/tri/source/sendIoTHubSenser/cmake/sendIoTHub
ExecStop=/bin/kill -SIGTERM $PIDFile

[Install]
WantedBy=multi-user.target
